$lightest-gray: #BCA7AE;
$light-gray: #AA949B;
$gray: #999;
$dark-gray: #6f6f6f;

$whitest-plum: #FFE8E8;

$white-plum: #F7BEBE;
$white-plum-shadow: #DDAAAA;

$light-plum: #D88F93;
$light-plum-shadow: #C98489;

$gray-plum: #682A3E;
$gray-plum-shadow: #562233;

$plum: #3F1032;
$plum-shadow: #330C28;

$dark-plum: #280A20;
$dark-plum-shadow: #21081A;

$opaque-gray: rgba(169, 85, 89, 0.67);

$error-red: #841225;
$error-red-shadow: #700F1F;
