.app {
  position: relative;
  bottom: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-image: url('http://res.cloudinary.com/dx0y3rkfs/image/upload/v1496942037/emmad-mazhari-196223_aknykm.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}
