<!DOCTYPE html>
<html>
  <head>
    <title>Whose Democracy</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/5419f10dfe.js">fa-search</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
